body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
    width: 80%;
    height: 0.81rem;
    padding: 0.63rem;
    font-size: 1.1rem;
    border-radius: 0.31rem;
    border: 0;
    margin: 0.63rem;
}

button {
    margin-top: 1.2rem;
    width: 70%;
    padding: 0.8rem 1rem;
    color: #fff;
    background-color: #190A1C;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
}

.container {
    background: linear-gradient(to bottom, #190A1C, #5c056a);
    margin: auto;
    max-width: 43.75rem;
    border-radius: 0.31rem;
    overflow: hidden;
}

.header-title {
    color: #ffce23;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0.63rem;
}

.subscription {
    text-align: center;
    color: #fff;
    font-size: 0.81rem;
    padding: 0.3rem;
    max-width: 43.75rem;
    margin: auto;
}

.rodape {
    text-align: center;
    color: #fff;
    font-size: 0.63rem;
    padding: 0.63rem;
}

.col-form {
    background: linear-gradient(to bottom, #5c056a, #1d0c20);
    text-align: center;
    margin-top: 2rem;
    width: 39rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
.header-subtitle{
    color: #fff;
    font-size: 1.4rem
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.form-register {
    padding: 0.63rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

.card-container {
    display: flex;
    justify-content: space-around;
    gap: 0.63rem;
}

.card-stack {
    position: relative;
    bottom: 0.94rem;
    right: 1.25rem;
    width: 9.38rem;
    height: 13.44rem;
    margin: 0.63rem;
    padding: 1.25rem;
}

.card-back {
    position: absolute;
    width: 11.25rem;
    height: 15.63rem;
    border-radius: 10px;
    background: linear-gradient(to bottom, #020eba, #230146);
}

.card-front {
    background: linear-gradient(to bottom, #1c25d4, #54429d);
    width: 9.38rem;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.31rem;
    margin: 0.63rem;
    border-radius: 8px;
}

.image-group {
    width: 6.25rem;
    height: 6.25rem;
    display: block;
    margin: 0.63rem auto;
}

@media screen and (max-width: 500px){
    .container {
        padding: 0.2rem;
        max-width: 100%;
    }

    .col-form {
        width: 85%;
        font-size: 1.6rem;
        padding: 0.4rem;
        margin-top: 1rem;
    }
    .header-subtitle{
        margin-top: 1rem;
    }

    .header-title {
        font-size: 1.9rem;
    }

    .subscription {
        font-size: 0.89rem;
    }

    .form-register input {
        width: 90%;
        padding: 1rem;
    }

    .card-container{
        flex-direction: column;
        align-items: center;
        gap: 1px;
    }

    .card-stack {
        width: 80%;
        height:19rem;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .card-back{
        height: 320px;
        width: 85%;
    }
    .card-front {
        width: 85%;
        font-size: 1.8rem;
    }

    .image-group {
        width: 10rem;
        height: 100%;
    }

    button {
        width: 90%;
    }

    .rodape {
        font-size: 0.6rem;
    }
}

